/* CATEGORIES */


.categories h2 {
    margin-bottom: 30px;
}
.categories_img {
    display: flex;
}
.categories__item {
    display: flex;
    min-width: 280px;
    min-height: 270px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    color: #FFFFFF;
    margin-right: 20px;
    background-blend-mode: multiply;
}
.categories__item {
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    width: 70%;
}
.categories__item a:hover {
    text-decoration: underline;
    transition: 2s;
}
.categories__item:first-child {
    background: #DBE4DB;
    background-image: url(../../static/images/categories/category1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.categories__item:nth-child(2) {
    background: #EADDD3;
    background-image: url(../../static/images/categories/category2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.categories__item:nth-child(3) {
    background: #F8F2DA;
    background-image: url(../../static/images/categories/category3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.categories__item:nth-child(4) {
    background: #D5D4E1;
    background-image: url(../../static/images/categories/category4.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}
.arrow_left,
.arrow_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
}
.categories .container {
    margin-top: 33px;
}
.arrow_left {
    margin-right: 6px;
}
.arrow_right {
    margin-right: 20px;
}
.category_text {
    width: 580px;
    font-size: 16px;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .categories_img {
        margin-right: -20px;
        overflow-x: scroll;
    }
    .categories .categories__item {
        min-width: 247px;
        min-height: 238px;
            &:first-child {
            background-image: url(../../static/images/categories/category1-mobile.png);
            }
            &:nth-child(2) {
            background-image: url(../../static/images/categories/category2-mobile.png);
            } 
            &:nth-child(3) {
                background-image: url(../../static/images/categories/category3-mobile.png);
            } 
            &:nth-child(4) {
                background-image: url(../../static/images/categories/category4-mobile.png);
            } 
    }
    .categories .container {
        margin-top: 20px;
    }
    .category_text {
        max-width: 247px;
        font-size: 14px;
        line-height: 19px;
     }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .categories_img {
        overflow-x: scroll;
    }
    .categories .categories__item {
        min-width: 258px;
        min-height: 249px;

            &:first-child {
            background-image: url(../../static/images/categories/category1-tablet.png);
            }
            &:nth-child(2) {
            background-image: url(../../static/images/categories/category2-tablet.png);
            } 
            &:nth-child(3) {
                background-image: url(../../static/images/categories/category3-tablet.png);
            } 
            &:nth-child(4) {
                background-image: url(../../static/images/categories/category4-tablet.png);
            } 
    }
    .categories .container {
        flex-wrap: nowrap;
        margin-top: 27px;
    }
    .category_text {
        max-width: 558px;
        font-size: 14px;
        line-height: 19px;
     }
}