

/* about_contacts */

.about_contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    
}
.about,
.contacts {
    display: flex;
    flex-direction: column;
    width: 543px;
    background: #E1F0F7;
    padding-left: 30px;
    & h2 {
        margin-top: -26px;
    }
    & p {
        width: 483px;
        line-height: 22px;
    }
}
