/* CONTACT-FORM*/


.form-container {
    width: 680px;
    background: #E5EAF8;
    padding: 42px 40px;
  }
  
  .form-container input,
  .label-wrapper textarea {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 14px 0 11px 20px;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    outline: none;
  }
  
  .form-container input:focus,
  .label-wrapper textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .form-2-column {
    display: flex;
    margin: 20px 0;
  }
  
  .form-2-column div:first-child {
    margin-right: 20px;
  }
  
  .label-wrapper,
  .form-2-column div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label-wrapper label,
  .form-2-column label{
    padding-bottom: 3px;
  }
  
  .form-container .custom-checkbox + label {
    font-size: 14px;
    line-height: 19px;
    padding-left: 34px;
  }
  
  .form-container .checkbox-list label{
    margin: 22px 0 17px;
  }
  .form-container .custom-checkbox:checked + .checkbox-label::before {
    background: transparent;
  }
@media (max-width:1200px) {
  .form-container {
    max-width: 648px;
    padding: 42px 56px;
  }
}
@media (max-width:700px) {
  .form-container {
    width: 100%;
    padding: 25px;
  }
  .form-2-column {
    margin: 15px 0;
    flex-direction: column;
  }
  .form-2-column div:first-child {
    margin-bottom: 15px;
  }
  .form-container .checkbox-list label {
    margin: 15px 0;
    padding-left: 27px;
  }
}