<section class="main container">
    <img src="../../static/images/woman.jpg" alt="" width="480" height="559">
    <div class="main__block">
        <h2>Delivery</h2>
        <ul class="option no-dots">
            <li><h3 class="option__item_active">Delivery</h3></li>
            <li><h3>Guarantee</h3></li>
            <li><h3>Credit</h3></li>
        </ul>
        <p class="main__text_first">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
        <p class="main__text_second">What started as an outlet to deal  with the traumatic loss of my husband, dlk has now become a truly happy place for me and i have you and all of the beautiful designers that we work with to thank!</p>
        @@include('buttonA/index.html',{
        "text":"learn more",
        "class":"main__button"
        })
    </div>
</section>