/* PAGINATION */


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.pagination__numbers {
  display: flex;
  & li {
    font-family: Montserrat;
    line-height: 20px;
  }
  & li:not(:last-child) {
    margin-right: 64px;
  }
  & li:first-child {
    line-height: 20px;
    color: #C29974;
    margin-right: 67px;
  }
  & li:hover {
    color: #8F8383;
    cursor: pointer;
  }
}
.pagination__button {
  border: 0;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  &:hover path{
    stroke: #C29974;
    stroke-opacity: 1;
  }
  &:active path {
    stroke: #C29974;
    opacity: 0.5;
  }
}