<div class="about-toys">
    <fieldset class="input-selector">

        <div class="slider-container">
            <h2>Cost</h2>
            <div class="custom-slider"></div>
            <div class="slider-numbers">
                <div>0</div>
                <div>500</div>
            </div>
        </div>
        <div class="color-container">
            <h2>Color</h2>
            <ul class="checkbox-list color no-dots">
                <li><input class="custom-checkbox" type="checkbox" id="black" name="black" checked>
                    <label class="checkbox-label" for="black">Black</label></li>
                <li><input class="custom-checkbox" type="checkbox" id="blue" name="blue" disabled>
                    <label class="checkbox-label" for="blue">Blue</label></li>
                <li><input class="custom-checkbox" type="checkbox" id="green" name="green">
                    <label class="checkbox-label" for="green">Green</label></li>
                <li><input class="custom-checkbox" type="checkbox" id="white" name="white">
                    <label class="checkbox-label" for="white">White</label></li>
                    
            </ul>
        </div>
        <div class="delivery-container">
            <h2>Delivey</h2>
            <ul class="radio-list no-dots">
                <li><input class="custom-radio" type="radio" name="method" id="free" disabled>
                    <label class="radio-label" for="free">Free shipping</label> </li>
                <li><input class="custom-radio" type="radio" name="method" id="fast" checked >
                    <label class="radio-label" for="fast">Fast shipping</label> </li>
            </ul>
        </div>
        <div class="amount-container">
            <h2>Amount</h2>
            <ul class="radio-button-list no-dots">
                <li class="custom-radio-button"><input type="radio" value="0-5" name="amount" id="radio-1" checked>
                    <label for="radio-1">0-5</label></li>
                <li class="custom-radio-button"><input type="radio" value="10-20" name="amount" id="radio-2">
                    <label for="radio-2">10-20</label></li>
                <li class="custom-radio-button"><input type="radio" value="20-50" name="amount" id="radio-3">
                    <label for="radio-3">20-50</label></li> 
            </ul>
        </div>
        <button type="submit" class="button">apply</button>
</fieldset>
</div>