<form class="form-container" action="">
    <fieldset class="label-wrapper">
        <label for="form-name">Name</label>
        <input type="text" id="form-name">
    </fieldset>

    <fieldset class="form-2-column">
        <div>
            <label for="form-phone">Phone</label>
            <input type="text" id="form-phone">
        </div>
        <div>
            <label for="form-email">Email</label>
            <input type="text" id="form-email">
        </div>
    </fieldset>

    <fieldset class="label-wrapper">
        <label for="form-textarea">Message</label>
        <textarea id="form-textarea" cols="30" rows="10">
        </textarea>
    </fieldset>
    <div class="checkbox-list">
        <input class="custom-checkbox" type="checkbox" id="form-checkbox">
        <label class="checkbox-label" for="form-checkbox">By clicking on the button, you consent to the processing of your personal data</label>
    </div>
        <button class="button" type="submit">submit</button>
</form>