
/* ABOUT */

.about {
    width: 543px;
    margin-right: 57px;
    margin-bottom: 147px;
    padding-left: 30px;
    & h2,
    & h3 {
        margin-bottom: 10px;
    }
    &__button {
        width: 123px;
        margin-top: 20px;
        margin-bottom: 35px;
    }
}
.about h2 {
    margin-top: -26px;
}


@media screen and (min-width:320px) and (max-width:767px) {
    .about {
        width: 375px;
        padding: 0 20px;
        margin: 0px auto 50px auto;
    }
    .about p {
        font-size: 14px;
        line-height: 19px;
    }
    .about h2 {
        margin-top: -15px;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 29px;
    }
    .about h3 {
        font-size: 24px;
        line-height: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .about {
        margin-right: 20px ;
        padding: 0 15px;
        width: 314px;
        margin-bottom: 125px;
    }
    .about h2 {
        margin-top: -19px;
        font-size: 30px;
        line-height: 37px;
    }
}
@media (max-width:400px) {
    .about {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
}

