%psevdo {
  content: '';
  display: block;
  position: absolute;
  }

$time:.4s;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Open-Sans;
  color: #1E0606;
  font-size: 16px;
  line-height: 22px;
}
.hidden {
  font-size: 0;
  width: 0;
  height: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.no-dots {
  list-style-type:none;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
h1,h2 {
  font-family: Montserrat;
  font-size: 40px;
  text-transform: uppercase;
}
h2 {
  font-size: 38px;
  line-height: 46px;
}
h3 {
  font-family: Crimson-Text-Italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}
h1 {
  line-height: 100%;
}
.page-title {
  margin-top: 60px;
}
// BUTTON

.button {
  background: #000000;
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: OpenSans-bold;
  line-height: 22px;
  font-size: 16px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px 22px;
  align-self: flex-start;
  transition: $time;
  &:hover {
    background: #C29974;
  }
  &:active {
    background: #CFAF91;
  }
  &:disabled {
    background: #C1C1C1;
  }
}

/* FORM */

fieldset {
  border: none;
}
textarea {
  resize: none;
}

/* BREAD-CRUMBS */

.bread-crumbs {
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px;
  font-family: Crimson-Text-Italic;
  font-size: 20px;
  line-height: 25px;
  & li:last-child{
    opacity: 0.5;
  }
  &__arrow {
    margin: 0 20px;
    @media (max-width:767px) {
      margin: 0 14px;
    }
  }
}

/* CUSTOM-INPUT*/

.checkbox-list {
  flex-direction: column;
}
.custom-checkbox,
.custom-radio {
  display: none;
}

.custom-checkbox + label,
.custom-radio + label {
  cursor: pointer;
}
.checkbox-list label,
.radio-list label {
  display: flex;
  position: relative;
  padding-left: 29px;
}
.radio-list label {
  padding-left: 30px;
}
.checkbox-label::before,
.checkbox-label::after,
.radio-label::before,
.radio-label::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0;
}
.radio-label::before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.checkbox-label::before {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  top: 1px;
}
.checkbox-label::before,
.radio-label::before {
  border: 2px solid #C29974;
  z-index: 1;
}
.checkbox-label::after {
  content: url(../static/images/check-mark.svg);
  padding-left: 3px; 
  opacity: 0;
  z-index: 2;
}
.radio-label::after {
  width: 12px;
  height: 12px;
  background: #C29974;
  left: 4px;
  top: 4px;
  opacity: 0;
  border-radius: 50%;
  z-index: 2;
}
.custom-checkbox:checked + .checkbox-label::after,
.custom-radio:checked + .radio-label::after {
  opacity: 1;
}

.custom-radio:disabled + .radio-label::after {
  background: #E1CDBA;
}
.custom-radio:disabled + .radio-label::before {
  border-color: #E1CDBA;
}
.custom-radio:disabled + .radio-label {
  color: #908484;
}

.custom-checkbox:checked + .checkbox-label::before {
  background: #FFFFFF;
}
.custom-checkbox:disabled + .checkbox-label {
  color: #908484;
}
.custom-checkbox:disabled + .checkbox-label::before {
  border-color: #E1CDBA;
}
.custom-checkbox:disabled + .checkbox-label::after {
  fill: #E1CDBA;
}
/* CUSTOM-RADIO-BUTTON */

.custom-radio-button {
  display: inline-flex;
}
.radio-button-list {
  display: flex;
}
.amount li:not(:first-child) {
  flex-direction: row;
}
.custom-radio-button input[type=radio] {
  display: none;
}
.custom-radio-button label {
  display: inline-flex;
  background: #FFFFFF;
  padding: 7px 19px 7px;
  transition: $time;
}
.radio-button-list li:first-child label {
  padding: 7px 28px 6px 28px;
}
.custom-radio-button input:checked + label{
  background: #F3D0DB;
}
.custom-radio-button label:hover {
  background: #EDDEEB;
  cursor: pointer;
}
/* PRODUCTS */


.category a {
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  width: 70%;
  transition: $time;
  &:hover {
    text-decoration: underline;
  }
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./buttonA/buttonA";
@import "./banner/banner";
@import "./categoriesCatalog/categoriesCatalog";
@import "./categoriesMain/categoriesMain";
@import "./catalogDescription/catalogDescription";
@import "./mainText/mainText";
@import "./partners/partners";
@import "./aboutContacts/aboutContacts";
@import "./contacts/contacts";
@import "./inputSection/inputSection";
@import "./modalPopup/modalPopup";
@import "./toyCard/toyCard";
@import "./blogCard/blogCard";
@import "./paginationBar/paginationBar";
@import "./contactText/contactText";


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .bread-crumbs {
    margin-bottom: 20px;
  }
  .grid {
    max-width: 649px;
  }
  .page-title {
    font-size: 36px;
    line-height: 44px;
    margin-top: 35px;
  }
}
@media screen and (min-width:320px) and (max-width:767px) {
  .bread-crumbs {
    margin-bottom: 20px;
  }
  .grid {
    max-width: 100%;
    margin:0 20px;
  }
  .page-title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
  }
  .radio-label::before {
    width: 16px;
    height: 16px;
  }
  .radio-label::after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }
}

