<section class="partners">
        <picture>
            <source srcset="../../static/images/partners/partner1-mobile.png, ../../static/images/partners/partner1-2x-mobile.png 2x" media="(max-width:767px)">
            <source srcset="../../static/images/partners/partner1-tablet.png, ../../static/images/partners/partner1-2x-tablet.png 2x" media="(max-width:1200px)">
            <source srcset="../../static/images/partners/partner1.png, ../../static/images/partners/partner1-2x.png 2x">
            <img src="../../static/images/partners/partner1.png" alt="Mail.ru group">
        </picture>
        <picture>
            <source srcset="../../static/images/partners/partner2-mobile.png, ../../static/images/partners/partner2-2x-mobile.png 2x" media="(max-width:767px)">
            <source srcset="../../static/images/partners/partner2-tablet.png, ../../static/images/partners/partner2-2x-tablet.png 2x" media="(max-width:1200px)">
            <source srcset="../../static/images/partners/partner2.png, ../../static/images/partners/partner2-2x.png 2x">
            <img src="../../static/images/partners/partner2.png" alt="Apple">
        </picture>
        <picture>
            <source srcset="../../static/images/partners/partner3-mobile.png, ../../static/images/partners/partner3-2x-mobile.png 2x" media="(max-width:767px)">
            <source srcset="../../static/images/partners/partner3-tablet.png, ../../static/images/partners/partner3-2x-tablet.png 2x" media="(max-width:1200px)">
            <source srcset="../../static/images/partners/partner3.png, ../../static/images/partners/partner3-2x.png 2x">
            <img src="../../static/images/partners/partner3.png" alt="Eltex">
        </picture>
        <picture>
            <source srcset="../../static/images/partners/partner4-mobile.png, ../../static/images/partners/partner4-2x-mobile.png 2x" media="(max-width:767px)">
            <source srcset="../../static/images/partners/partner4-tablet.png, ../../static/images/partners/partner4-2x-tablet.png 2x" media="(max-width:1200px)">
            <source srcset="../../static/images/partners/partner4.png, ../../static/images/partners/partner4-2x.png 2x">
            <img src="../../static/images/partners/partner4.png" alt="Owox">
        </picture>
</section>

