/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer {
  background: #434343;
  &__block_first,
  &__block_second {
    display: flex;
    flex-direction: row;
  }
  &__block_first {
    flex-wrap: wrap;
    padding-bottom: 28px;
  }
  &__block_second {
    border-top: 1px solid #666666;
    padding-top: 23px;
  }

  &__copyright{
    margin-right: 109px;
  }
}
.footer__block_first-line {
  display: flex;
  flex-direction: row;
}
.footer__block_second-line {
  display: flex;
  flex-direction: row;
}
.footer__container {
  max-width: 1180px;
  width: 100%;
}
.footer__container {
  padding: 100px 0;
  color: #FFFFFF;
}
.column {
  max-width: 380px;
  width: 100%;
  & a {
    display: inline-flex;
  }
  & form {
    display: inline-flex;
    padding: 25px 0;
  }
  &:nth-child(2) {
    margin: 0 20px;
  }
  &__title {
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
  }
}
.column__title, .design-studio {
  font-size: 16px;
  color: #AAAAAA;
}
.design-studio:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-links a {
  transition: $time;
}
.footer-links {
  margin-top: 28px;
  & li {
    margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0px;
      }
  }
  & a:hover {
    opacity: 0.5;
  }
  & a:active {
    opacity: 0.2;
  }
}

.email {
  background: #666666;
  border: 1px solid transparent;
  width: 299px;
  outline: none;
  padding: 9px 0 9px 15px;
  font-size: 16px;
  color: #EBEBEB;
  transition: $time;
  &:focus {
    border: 1px solid #FFFDFD;
    border-right: none;
  }
}
.social {
  display: inline-flex;
  &__item {
    margin-right: 10px;
    transition: $time;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.2;
    }
  }
}

.rating-caption,
.rating {
  display: flex;
}
.rating {
  flex-direction: row-reverse;
  margin-left: 25px;
  margin-right: 155px;
  width: 97px;
  justify-content: space-between;
}
.rating input {
  display: none;
}
.rating-star:checked + label path,
.rating-star:checked ~ .rating-label path{
  fill: #C29974;
}

.rating-label:hover path,
.rating-label:hover ~ .rating-label path,
.rating-star:checked + .rating-label:hover path {
  transition: $time;
  fill:#836E5B;
  cursor: pointer;
}
.rating:hover ~ .rating-caption,
.rating input:checked ~ .rating-caption {
  color: #C29974;
}
input::placeholder {
  color:#EBEBEB;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .footer {
    &__button {
      width: 72px;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 70px 20px 70px;
    }
    &__copyright {
      margin-right: 0;
    }
    &__block_first {
      padding-bottom: 60px;
    }
  }
  .column {
    margin-left: auto;
    margin-right: auto;
    &:nth-child(2) {
      margin: 40px auto 60px auto;
    }
    &__title {
      max-width: 380px;
      padding-bottom: 20px;
    }
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    line-height: 19px;
    flex-wrap: wrap;
    max-width: 380px;
    height: 90px;
  }
  .footer-links li:nth-child(3) {
    margin-bottom: 0;
  }
  .footer__block_second {
    padding-top: 24px;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer__block_first-line {
    margin-bottom: 15px;
  }
  .footer__block_second-line {
    flex-direction: column;
  }
  .footer__copyright {
    margin-bottom: 15px;
  }
  .email {
    width: 263px;
  }
  .rating {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    &__container {
      padding: 80px 60px;
      max-width: 769px;
      width: 100%;
    }
    &__copyright {
      width: 291px;
      margin-right: 43px;
    }
  }
  .column {
    max-width: 203px;
  }
  .email {
    width: 121px;
  }
  .footer__block_second {
    display: flex;
    flex-direction: column;
  }
  .footer__block_first-line {
    margin-bottom: 15px;

  }
  .rating-caption {
    width: 123px;
  }
}



