/* CATEGORIES */

.categories-catalog {
    display: flex;
    flex-wrap: wrap;
}

.categories-catalog .row {
    margin-left: -20px;
    
}

@media (min-width:1201px) {
    section .categories-catalog {
        padding-left: 0px;
        padding-right: 0px;
    }
}




