<section>
    <div class="categories-catalog no-dots container-self">
    <div class="row flex-wrap">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="#">apparel kids</a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="#">holiday shop</a></div>
        </div>
        <div class="col-xl-3 add-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="../toys/index.html">toys</a></div>
        </div>
        <div class="col-xl-3 skip-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="#">accessories</a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="#">sale</a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="category"><a href="#">apparel adults</a></div>
        </div>
    </div>
</section>