/* BANNER */


.banner .container {
   flex-grow: 1;
}
.banner {
   display: flex;
   flex-direction: column;
   margin-bottom: 90px;
   margin-top: 129px;
   height: 411px;
   position: relative;
   background: #EEE4DB;
      &__monster {
         left: 445px;
         position: absolute;
         align-self: flex-end;
      }
      &__caption {
         padding: 11px;
         font-family: OpenSans-bold;
         width: 100%;
         font-size: 12px;
         line-height: 16px;
         color: #FFFFFF;
         background: #C29974;
         text-align: center;
         text-transform: uppercase;
         z-index: 2;
      }
}

.lines {
   padding-left: 28px;
   padding-top: 17px;
   display: flex;
   flex-direction: column;
   &__number {
      font-family: Montserrat-th;
      font-size: 60px;
      line-height: 73px;
      margin-bottom: 10px;
      font-size: 60px;
      color: #E3D8D0;
      line-height: 73px;
   }
   &__item {
      margin-bottom: 11px;
      height: 3px;
      max-width: 31px;
   }
   &__item {
      background: #D6CAC2;
      transition: $time;
      &:hover {
         background: rgba(30, 6, 6, 0.6);
         cursor: pointer;
      }
   }
   &__item_active {
      background: rgba(30, 6, 6, 0.6);
   }
}
.heading {
   position: absolute;
   justify-content: space-between;
   top: 89px;
   left: 133px;
   & * {
      margin-bottom: 20px;
   }
   &__main {
      width: 70%;
   }
   &__text {
      font-size: 20px;
      line-height: 25px;
   }
}

.banner__button {
   width: 161px;
}

@media screen and (min-width:320px) and (max-width:767px) {
   .banner {
      height: 481px;
      margin-top: 0;
      margin-bottom: 80px;
      margin-left: -20px;
      width: 100vw;
      &__monster {
         top: 211px;
         right: 0;
         left: auto;
      }
   }
   .banner .container {
      flex-direction: row-reverse;
   }
   .heading {
      top: 80px;
      left: 20px;

      &__main {
         font-size: 36px;
         line-height: 110%;
         margin-bottom: 15px;
      }
      &__text {
         font-size: 18px;
         line-height: 22px;
         margin-bottom: 15px;
      }
   }
   .lines {
      padding-top: 21px;
      padding-left: 0;
      margin-right: 20px;
      &__number {
         font-size: 48px;
         line-height: 59px;
      }
      &__item {
         margin-left: 22px;
         width: 27px;
         height: 2.67px;
         margin-bottom: 10px;
      }
   }
   .banner__button {
      margin-bottom: 188px;
   }
 }
 @media screen and (min-width: 768px) and (max-width: 1200px) {
   .grid {
      max-width: 648px;
   }
   .banner {
      margin-top: 0;
      margin-bottom: 60px;
      &__monster {
         left: auto;
         right: 0;
      }
      &__caption {
         padding: 11px 20px;
      }
   }
   .lines {
      padding-top: 17px;
      padding-left: 0;
      &__number {
         font-size: 48px;
         line-height: 59px;
      }
      &__item {
         width: 27px;
         height: 2.67px;
         margin-bottom: 10px;
      }
   }
   .heading {
      top: 76px;
      left: 60px;
   }
 }