<section class="banner grid">
    <div class="container">
        <ul class="lines no-dots">
            <li class="lines__number">01</li>
            <li class="lines__active"></li>
            <li class="lines__other"></li>
            <li class="lines__other"></li>
            <li class="lines__other"></li>
        </ul>
        <div class="heading">
            <h1 class="heading__main">THE OOH NOO COLLECTION</h1>
            <h3 class="heading__text">Designed in Slovenia</h3>
            @@include('button/index.html', {
                "text":"explore now",
                "class":"banner-btn-js banner__button"
            })
        </div>
        <img class="banner__monster" src="../../static/images/monster.png" alt="" width="635" height="461">
    </div>
    <p class="banner__caption">Free (continental) USA shipping on all orders of $100 USD or more!</p>
</section>